.caixaAdicionarPalavra.ativo{
    display: none;
}

.caixaAdicionarPalavra{
    width: 22rem;
    height: 5rem;
    background-color: var(--bg-caixaAdicionaPalavra);

    border-radius: 1rem;

    margin: 0 auto;
}

 .inputNovaPalvra{
    background-color: transparent;
    color: #FFF;

    margin: 1.5rem;

    font-size: 1.5rem;
    font-weight: 500;

}

