@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{

    --alert-color: hsl(210, 9%, 31%);

    --botao1-fundo: hsl(218, 48%, 36%);
    --botao1-letra: hsl(199, 94%, 80%);

    --botao2-fundo: hsl(199, 94%, 80%);
    --botao2-letra: hsl(218, 48%, 36%);
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    padding-left: 3rem;
    background-image: url(/assets/img/bg-inicial.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -9rem ;

    overflow-y: hidden;
}

.home nav img{
    padding-top: 2rem;

    height: 4.5rem;
}


.principal{
    text-align: center;
}

.palavraInicial, .subTexto{
    font-size: 1.5rem;
    color: #ffff;

    background: transparent;

    resize: none;
}

.palavraInicial.ativo{
    display: none;
}

.endpage{
    text-align: center;
}

.alerta{
    align-items: center;
    margin-left: -20rem;
    margin-top: 3rem;
}

.alerta .descAlerta{
    margin-left: .5rem;
}

.botoes{
    display: flex;
    gap: 1rem;
    justify-content: center;
} 

.btn1 a, .btn2 a{
    color: inherit;
}

.btn1, .btn2{
    width: 15rem;
    height: 56px;

    border-radius: 1rem;

    cursor: pointer;

    margin-top: .50rem;

}

.btn1{
    color: var(--botao1-letra);
    background-color: var(--botao1-fundo);
}

.btn2{
    color: var(--botao2-letra);
    background-color: var(--botao2-fundo);
}

.btn1:hover, .btn2:hover{
    opacity: 50%;
}