@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{

    --alert-color: hsl(210, 9%, 31%);

    --botao1-fundo: hsl(218, 48%, 36%);
    --botao1-letra: hsl(199, 94%, 80%);

    --botao2-fundo: hsl(199, 94%, 80%);
    --botao2-letra: hsl(218, 48%, 36%);

    --font-caixaAdicionaPalavra: hsl(0, 0%, 100%);
    --bg-caixaAdicionaPalavra: rgba(41, 138, 155, 0.363);
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

body{
    padding-left: 3rem;
    background-color: var(--background-color);

    background-image: url(../img/bg-inicial.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -6rem ;

    overflow-y: hidden;
}

.palavrasAdicionadas{
    text-align: center;

}

.tituloLista{
    font-size: 1.1rem;
    color: #FFF;
}

.listaDePalavrasExistentes{
    resize: none;

    font-size: 1.1rem;
    color: #FFF;
    background-color: transparent;

    text-align: center;
}

.listaDePalavrasExistentes::-webkit-scrollbar-thumb {
    background: #dad7d7;
}