.modal__voltaInicioDerrota,
.modal__voltaInicioVitoria {
  width: 15rem;
  height: 3.5rem;
  padding: 0.6rem 1.2rem;

  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.4s;
  margin-top: 5rem;
}

.modal__voltaInicioDerrota {
  background-color: var(--bg-botao-modal-derrota);
}

.modal__voltaInicioVitoria {
  background-color: var(--bg-botao-modal-vitoria);
}

.modal__voltaInicioDerrota:hover,
.modal__voltaInicioVitoria:hover {
  opacity: 1;
}

#fadeDerrota,
#modalDerrota,
#fadeVitoria,
#modalVitoria {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fadeDerrota,
#fadeVitoria {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 5;
}

#modalDerrota,
#modalVitoria {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;

  text-align: center;
}

#modalDerrota.hide__derrota,
#fadeDerrota.hide__derrota,
#modalVitoria.hide__vitoria,
#fadeVitoria.hide__vitoria {
  opacity: 0;
  pointer-events: none;
}

#modalDerrota.hide__derrota,
#modalVitoria.hide__vitoria {
  top: 0;
}
